* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}
/* Add to src/index.css or src/App.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

#root {
  min-height: 100vh;
}
